
body, html {
    width: 100%;
    height: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none; 
}


header {
    background:#1E2651;
    padding: 40px; 
    width: 100%;
    height: 200px;
    position: relative;
}

#header {
    position:absolute;
    width: 100%; 
    right: 0px;
}

#headerContent {
    position: relative;
    margin-right: 5%;
    bottom: 40px;
    width: 100%;
    background-color: black;
    color: #fff; 
    text-align: center;
}

#headergamehubtext {

color: #1E2651;
margin-right: 0%;
}

#headergamehubtext2 {
    color: #FEA621;
}

#summersale {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 20%;

}

.headerlogo {
    position: relative;
    width: 300px;
    height: 200px;
    bottom: 20px; 
}

nav{
    width: 100%;
    height: 50px;
    position: absolute; 
    background-color: #FEA621;
}

nav>ul {
    width: 100%; 
    height: 100%;
    text-align: center;
    font-family:"Raleway";
}
nav>ul>li {
    display:block;  
    float: left;
    text-align: center;
    line-height: 50px;
    padding: 0 .5em;
}

li {
    display: inline;
    background-color: #FEA621;
}

.gamehubsalesimg {
    margin-top: 100px; 
    max-width: 1400px;
    
}

.intro {
    position: relative;
    text-align: center;
    color: rgb(2, 2, 2);
}

.introtext {
    position: absolute;
    bottom: 10%;
    left: 35%;
    color: white;
    font-size: 64px;
}

#gamehubtext {
    margin-bottom: 20%;
    font-family:"Dosis";
    font-weight: bold;
    font-size: 128px;
    -webkit-text-stroke: #1E2651;
    -webkit-text-stroke-width: 6px;
}
.introtext2 {
    font-size: 32px;
    color: green;
}

.container2 {
margin-top: 20px;
}

.subheading {
    height: 330px;
    width: 680px;
    margin-left: 580px;
 
}

.Gamehubclubimg {
    height: 330px;
    width: 680px;
    float: right;
    margin-right: 580px; 
}