
body, html {
    width: 100%;
    height: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none; 
}

a { 
    text-decoration: none;  
    color: black;
}
p {
    font-family: "Raleway";
}

.container {
    border-style: solid;
    border-color: #1E2651;
    width: 1500px;
    height: 750px; 
    margin-right: 580px; 
    margin-left: 580px;
    margin-top: 0%;
}


header {
    background:#1E2651;
    padding: 40px; 
    width: 100%;
    height: 200px;
    position: relative;
}

#header {
    position:absolute;
    width: 100%; 
    right: 0px;
}

#headerContent {
    position: relative;
    margin-right: 5%;
    bottom: 40px;
    width: 100%;
    background-color: black;
    color: #fff; 
    text-align: center;
    font-family: "Raleway";
}

.fa-solid {
    position: absolute;    
    right: 5px;
    top: 0px;
}

.headergamehubtext {
color: #1E2651;
right: 0px;
font-family:"Raleway";
}

#Gamehubtextheader {
    position: absolute;
    right: 5px;
    top: 0px;
}

#headergamehubtext2 {
    color: #FEA621;
}

#summersale {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 20%;

} 

.headerlogo {
    position: relative;
    width: 300px;
    height: 200px;
    bottom: 20px; 
}

nav{
    width: 100%;
    height: 50px;
    position: absolute; 
    background-color: #FEA621;
    font-family:"Raleway";
    font-size: 20px;
}

.nav-list {
    display: flex;
    float: left;
    text-align: center;
    line-height: 50px;
    padding: 0 .5em;
}


.navli {
    background-color: #FEA621;
    display:flex;
    padding: 0 20px 0 0; 
    text-align: center;
}

li {
    font-family: "Raleway";
}
.gamehubsalesimg {
    margin-top: 100px; 
    max-width: 1400px;
    box-shadow: 3px, 3px, black;
    
}

.intro {
    position: relative;
    text-align:center; 
    color: rgb(2, 2, 2);
}

.introtext {
    position: relative;
    color: white;
    font-size: 96px;
    pointer-events: none;
    margin-top: 0%;
}

#gamehubtext {
    position: relative;
    margin-top: -500px;
    font-family:"Dosis";
    font-weight: bold;
    font-size: 128px;
    -webkit-text-stroke: #1E2651;
    -webkit-text-stroke-width: 6px;
}
.introtext2 {
    position: relative;
    font-size: 96px;
    color:#FEA621;
    margin-top: -100px;
    margin-left: -25px; 
    font-family: "Laila";
}
.Summersale {
    position: absolute;
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-top: -75px; 
    margin-left: 350px;
}
.discount {
    position: absolute;
    font-size: 32px;
    color: chartreuse;
    text-align: center;
    margin-left: 100px;
}

.container2 {
    border-style: solid;
    border-color: #1E2651;
    width: 1500px;
    height: 750px; 
    margin-right: 580px; 
    margin-left: 580px;
    margin-top: 0%;
}

.subheading {
    height: 330px;
    width: 680px;
    margin-left: 50px;
 
}

.Gamehubclubimg {
    height: 330px;
    width: 680px;
    float: right; 
    margin-right: 50px;
    

}
.contactusdetailslist {
    background-color: white; 
    margin-top: 5%;
    font-family: "Raleway";
    font-size: 24px;
}

.containercontact {
    border-style: solid;
    border-color: #1E2651;
    width: 1500px;
    height: 1500px; 
    margin-right: 580px; 
    margin-left: 580px;
    margin-top: 3%;
}

#headercontact {
    font-family:"Dosis";
    margin:0%;
}
    
.barheader {
    display: block;
    border-bottom: 6px solid;
    border-color:#FEA621;
    border-stroke: #000;
}


.overimagegamehubpicture {
    position: absolute;
    background: #1E2651;
    width: 680px;
    height: 330px; 
    margin-left: 50px;
    clip-path: polygon(0 0, 76% 0, 48% 99%, 0% 100%);
}

.overimagetext {
    position: absolute;
    color: white;
    font-family: "Raleway";
    font-size: 56px;
    bottom: 280px;
    left: 680px;
}

.polygonheader {
    position: absolute;
    width: 600px;
    height: 200px; 
    background-color:#FEA621; 
    right: 0px; 
    top; 0px;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
}

.polygonnavbar {
    position: absolute;
    right: 0px; 
    top; 0px;
    width: 610px;
    height: 50px;
    background-color:#1E2651; 
    clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0 100%);
    margin: auto;
}dw